# TIL
> Today I Learned

{{ if ne .InputDescription "" }}
{{- .InputDescription -}}
{{ else }}
A collection of concrete writeups of small things I learn daily.
{{ end }}

_{{ len .AllTils }} TILs and counting..._

---
{{ if .MostRecentTils }}
### {{ len .MostRecentTils }} most recent TILs
{{ range $til := .MostRecentTils }}
- [{{ $til.Title }}]({{ $til.Category }}/{{ $til.Filename }}) - {{ $til.DateAdded.Format $.InputDateFormat }}
{{- end }}
{{ end }}
### Categories
{{/* CATEGORY INDEX */}}
{{- range $category, $tils := .Tils }}
- [{{ $category }}](#{{ $category | toLower }})
{{- end }}
{{- /* TILS GROUPED BY CATEGORIES */ -}}
{{ range $category, $tils := .Tils }}

### [{{ $category }}](#{{ $category | toLower }})
{{- range $index, $til := $tils }}
- {{ with $til }}[{{ .Title }}]({{ $category }}/{{ .Filename }}){{- end }}
{{- end }}
{{- end }}

{{ .InputFooter }}
