# TIL
> Today I Learned

{{ if ne .InputDescription "" }}
{{- .InputDescription -}}
{{ else }}
A collection of concrete writeups of small things I learn daily.
{{ end }}

_{{ len .AllTils }} TILs and counting..._

---

### Categories
{{/* CATEGORY INDEX */}}
{{- range $category, $tils := .Tils }}
- [{{ $category }}](#{{ $category }})
{{- end }}
{{- /* TILS GROUPED BY CATEGORIES */ -}}
{{ range $category, $tils := .Tils }}

### [{{ $category }}](#{{ $category }})
{{- range $index, $til := $tils }}
- {{ with $til }}[{{ .Title }}]({{ $category }}/{{ .Filename }}){{- end }}
{{- end }}
{{- end }}

{{ .InputFooter }}
