# TIL
> Today I Learned

{{ if ne .InputDescription "" }}
{{ .InputDescription }}
{{ else }}
A collection of concrete writeups of small things I learn daily.
{{ end }}

_{{ len .AllTils }} TILs and counting..._

---

### Catagories
{{/* CATAGORY INDEX */}}
{{- range $catagory, $tils := .Tils }}
- [{{ $catagory }}](#{{ $catagory }})
{{- end }}
{{- /* TILS GROUPED BY CATAGORIES */ -}}
{{ range $catagory, $tils := .Tils }}

### [{{ $catagory }}](#{{ $catagory }})
{{- range $index, $til := $tils }}
- {{ with $til }}[{{ .Title }}]({{ $catagory }}/{{ .Filename }}){{- end }}
{{- end }}
{{- end }}

{{ .InputMarkdownLinksFooter }}
